@page "/jwt"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IHttpContextAccessor HttpContextAccessor
@inject Services.JwtUtility JwtUtility
<PageTitle>Jwt</PageTitle>

<h3>Your Jwt</h3>

@if (!string.IsNullOrEmpty(jwtToken))
{
    <p>@jwtToken</p>
}

@code {
    private string jwtToken = string.Empty;

    protected override void OnInitialized()
    {
        var user = HttpContextAccessor.HttpContext?.User.Identity?.Name;
        if (!string.IsNullOrEmpty(user))
        {
            jwtToken = JwtUtility.CreateJwtForUserAsync(user);    
        }
    }

}



